# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/Banner Castle Room1.psd
src/Banner Castle Room2.psd
src/Banner Desert Room1.psd
src/Banner Desert Room2.psd
src/Banner Forest Room1.psd
src/Banner Forest Room2.psd
src/Custom Poker.psd
src/Flag ANK.psd
src/Flag BB.psd
src/Flag Metadventure.psd
src/Flag SOPO.psd
src/Wall banner.psd
tilesets/.jungle1.png.icloud
tilesets/.mid_Houses.png.icloud
src/Flag Poker.psd
